*{
    font-family: helvetica;
}
h1{
    font-family: "Roboto Mono";
}
h3{
    font-size: 36px;
    line-height: 1.35;
}
.subheading{
    font-size: 22px;
    
}
.affix {
    min-height: 100vh;
    width: 100%
}

.affix.fixed {
    position: fixed;
    top: 0;
}

.affix.set {
    position: absolute;
}
#navbar{
	height: 60px;
    width:30%;
    position: absolute;
    right:5%;
	background: #ffffff;
}

.nav-link {
	line-height: 60px;
	opacity: 0.6;
    text-decoration: none;
    color:black;
}
#navbar .nav-link{
    width:20%;
	float:right;
    text-align: center;
}
.nav-link:hover{
    color:dodgerblue;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
#top-content{
    width: 85%;
    display:flex;
    word-wrap: break-word;
    align-items: center;
}
#project-section{
    position:relative;
}

#projects{
    padding-top: 16vh;
    position: relative;
    padding-left: 15%;
    padding-bottom: 16vh;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:space-between; 
    float:left;
    height:calc(70vw*2/3);
}

.project-card{
    width:70vw;
    position: relative;
    margin-right:5vw;
    float: left;
    overflow: hidden;

}
.page-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:90%;
    min-height: 200px;
}
#top{
    padding-top:30vh;
    padding-bottom: 20vh;
    padding-left: 15%;
    display:inline;
}
#page-header h1, #page-header h3{
    margin:0;
    line-height: 1.5;
}
.project-card .text{
    position:absolute;
    top:35%;
    line-height: 2;
    font-family: "Roboto Mono";
}
.text h3, .text p{
    margin:0;
}
.services{
    position:absolute;
    bottom:7%;
    padding-left:5%;
    width:80%;
    
}
.section-title{
    transform-origin: top right;
    transform: rotate(-90deg);
    position: absolute;
    text-align: right;
    color: #bfbfbf;
    top: calc(16vh + 5px);
}
#about-section{
    position: relative;
}
#about{
    padding-bottom: 32vh;
    padding-top: 16vh;
    padding-left: 15%;
    width:60%;
    line-height: 1.65;
    position: relative;
    display: block;
}
#about h2{
    margin:0;
}
.text{
    padding-left:5%;
}
#social a{
    color:inherit;
    text-decoration:none;
}
#social a:hover{
    color:dodgerblue;
}
.one{
    background-color:#fefbed;
}
.project-card-img{
    width:auto;
    left:unset;
    right:5%;
    height: 120%;
    transform: scale(.95,.95);
    position: absolute;
    bottom: -40%;
}
.project-card-noun{
    width:auto;
    left:unset;
    right:0%;
    height: 200%;
    transform: scale(.95,.95);
    position: absolute;
    bottom: -35%;
}
.project-card-dumpling{
    width:auto;
    left:unset;
    right:-20%;
    height: 80%;
    transform: scale(.95,.95);
    position: absolute;
    bottom: 8%;
}
.project-card a{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.two{
    background-color:#FFF4EA;
}
.three{
    background-color: #265E6D;
}
.four{
    background-color: darkslateblue;
}

.project-page{
    display: block;
    height:100%;
    width:95%;
    padding-left: 7vw;
}

.project-feature-image{
    padding-top:50%;
    margin: 40px 0;
    background-size: 100%;
    width:100%;
}
.project-inline-image{
    background-size: 100%;
    padding-top:80%;
    margin: 40px 0;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
}
.caption{
    font-style: italic;
    opacity: 50%;
}
.project-details{
    margin: 24px 0;
    list-style: none;
    padding-left: 0;
}
.project-text-subhead{
    float:left;
    padding-top: 0;
    display: inline-block;
    width:25%;
    font-size:24px;
}
.project-text-content-subhead{
    font-size:24px;
    font-weight:500;
}
.blockquote{
    font-size:30px;
    font-weight: 400;
    opacity:50%;
}
.project-body-section{
    margin: 40px 0px;
    display: inline-block;
}
.project-text-body{
    display: inline-block;
    width:60%;
}
.project-details li{
    line-height: 1.5em;
    height:auto;
}
.project-detail-head{
    font-weight: 800;
}
.project-text{
    margin-top:10px;
    height:50px;
}
@media only screen and (max-width: 640px){
    h3{
        font-size: 22px;
    }
    .project-text-body{
        width: 100%;
        margin-bottom: 0;
    }
    .project-text-subhead{
        width: 100%;
        margin-bottom: 0;
    }
    #projects{
        padding-left: 8%;
        display: flex;
        flex-direction:column;
        height: auto;
    }
    .project-card{
        width:100%;
        height:300px;
        margin: 0 0 4vh;
    }
    .section-title{
        transform-origin: top right;
        transform: rotate(0);
        position: absolute;
        text-align: left;
        color: #bfbfbf;
        margin-left: 8%;
        margin-top: -100px;
        left: 0px;
    }
    #top, #about, #projects{
        padding-left: 8%;
        width:84%;
        padding-bottom: 8vh;
        padding-top:8vh;
        
    }
    body{
        padding-top:8vh;
        padding-bottom: 8vh;
    }
    .project-card .text{
        top:20%;
        line-height: 1.5;
        width:90%;
    }
    .project-card img{
        top: 35%;
        left: 10%;
        width: auto;
    }
}