:root {
  --mainColor: #ff9800;
}
*{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
}
p{
    margin-bottom:2em;
}
ol,ul{
    margin-top:0;
    margin-bottom: 3em;
}
b{
    font-weight: 700;
}

h3{
    font-size: 36px;
    line-height: 1.35;
}
h4{
    line-height:3em;
    margin-bottom:-4px;
}
:root {
  --mainColor: #ff9800;
}


.link{
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
  color: #000;
  text-decoration: none;
    font-weight: 600;
}

.link:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}
/*
a{
   	color: #000000;
	font-size: 16px;
	font-weight: 700;

	text-decoration: none;
	text-transform: uppercase; 
}
a{
	position: relative;
	z-index: 1;
	display: inline-flex;
	
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
}

a::before{
	content: "";
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, #fed330 1%, rgba(0, 0, 0, 0)25%);
	
	position: absolute;
	left: 0;
	bottom: 2px;
	z-index: -1;
}

a:hover::before{
	width: 0;
}
a::before{
	transition: width .1s ease-out;
}

a:hover::before{
	transition-duration: .15s;
}
*/

li{
    padding: 5px 0;
}
.subheading{
    font-size: 22px;
}
.affix {
    min-height: 100vh;
    width: 100%
}

.affix.fixed {
    position: fixed;
    top: 0;
}

.affix.set {
    position: absolute;
}
#navbar{
	height: 60px;
    width:30%;
    position: absolute;
    right:5%;
	background: #ffffff;
}

.nav-link {
	line-height: 60px;
	opacity: 0.6;
    text-decoration: none;
    color:black;
}
#navbar .nav-link{
    width:20%;
	float:right;
    text-align: center;
}
.nav-link:hover{
    color:dodgerblue;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
#top-content{
    width: 85%;
    display:flex;
    word-wrap: break-word;
    align-items: center;
}
#project-section{
    position:relative;
    overflow-y: hidden;
}

#projects{
    padding-top: 16vh;
    position: relative;
    padding-left: 15%;
    padding-bottom: 16vh;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:space-between; 
    float:left;
    height:calc(70vw*2/3);
}

.project-card{
    width:70vw;
    position: relative;
    margin-right:5vw;
    float: left;
    overflow: hidden;

}
.project-title h1{
    margin:0;
    font-size: 36px;
}
.project-title{
    float:left;
    margin-top: 0;
    padding-right:20px;
    display: inline-block;
    width: 30%;
}
.project-tagline{
    font-weight: 300;
    font-size: 1.5em;
    line-height: 2em;
}
.project-info{
    display: inline-block;
    width:100%;
}
.project-right-info{
    display:inline-block;
    width:60%;
}
.page-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:100%;
    min-height: 200px;
}
#top{
    padding-top:30vh;
    padding-bottom: 20vh;
    padding-left: 15%;
    display:inline;
}
#page-header h1, #page-header h3{
    margin:0;
    line-height: 1.5;
}
.project-card .text{
    position:absolute;
    top:35%;
    line-height: 2;
    font-family: "Roboto Mono";
}
.text h3, .text p{
    margin:0;
}
.services{
    position:absolute;
    bottom:7%;
    padding-left:5%;
    width:80%;
    
}
.section-title{
    transform-origin: top right;
    transform: rotate(-90deg);
    position: absolute;
    text-align: right;
    color: #bfbfbf;
    top: calc(16vh + 5px);
}
#about-section{
    position: relative;
}
#about{
    padding-bottom: 32vh;
    padding-top: 16vh;
    padding-left: 15%;
    width:60%;
    line-height: 1.65;
    position: relative;
    display: block;
}
#about h2{
    margin:0;
}
.text{
    padding-left:5%;
}
#social a{
    color:inherit;
    text-decoration:none;
}
#social a:hover{
    color:dodgerblue;
}
.one{
    background-color:#fefbed;
}
.project-card-img{
    width:auto;
    left:unset;
    right:5%;
    height: 120%;
    transform: scale(.95,.95);
    position: absolute;
    bottom: -40%;
}
.project-card-noun{
    width:auto;
    left:unset;
    right:0%;
    height: 200%;
    transform: scale(.95,.95);
    position: absolute;
    bottom: -35%;
}
.project-card-dumpling{
    width:auto;
    left:unset;
    right:-20%;
    height: 80%;
    transform: scale(.95,.95);
    position: absolute;
    bottom: 8%;
}
.project-card a{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.two{
    background-color:#FFF4EA;
}
.three{
    background-color: #265E6D;
}
.four{
    background-color: darkslateblue;
}

.project-page{
    display: block;
    height:100%;
    width:90%;
    padding-left: 7vw;
    padding-bottom: 30%;
}

.project-feature-image{
    padding-top:50%;
    margin: 40px 0;
    background-size: 100%;
    width:100%;
    background-repeat: no-repeat;
}
.project-body-section img{
    width:100%;
    margin-bottom: 10px;
}
.inline-image{
    width:100%;
    margin: 40px 0;
}
.project-inline-image{
    background-size: 100%;
    padding-top:80%;
    margin: 40px 0;
    background-repeat: no-repeat;
    width:100%;
}
.divider{
    padding:3% 0;
}
.caption{
    font-style: italic;
    opacity: 50%;
    text-align: center;
    width:100%;
    margin: 0 20px;
}
.project-details{
    margin: 24px 0;
    list-style: none;
    padding-left: 0;
}
.project-text-subhead{
    float:left;
    padding-right:20px;
    padding-top: 0;
    display: inline-block;
    width:30%;
}
.project-text-body{
    display: inline-block;
    padding-top:0;
    width:60%;
}
.project-text-subhead h3{
    font-size:24px;
    margin-top:0;
}
.project-text-content-subhead{
    position: relative;
    font-size:24px;
    margin-top:5%;
    font-weight:500;
    line-height:2em;
}
.li-subhead{
    font-weight: 600;
    line-height: 2.5em;
}
.blockquote{
    margin: 24px,0;
    font-weight: 300;
    padding-left:5%;
    font-size:30px;
    opacity:40%;
}
.project-body-section{
    margin: 40px 0px;
    display: inline-block;
    width:100%;
}

.project-details li{
    line-height: 1.5em;
    height:auto;
}
.project-detail-head{
    font-weight: 800;
}
.project-text{
    margin-top:10px;
    height:50px;
}
.return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;

    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
.return-to-top:hover i {
    color: #fff;
    top: 5px;
}

@media only screen and (max-width: 640px){
    h3{
        font-size: 22px;
    }
    .project-text-body{
        width: 100%;
        margin-bottom: 0;
    }
    .project-text-subhead{
        width: 100%;
        margin-bottom: 0;
    }
    #projects{
        padding-left: 8%;
        display: flex;
        flex-direction:column;
        height: auto;
    }
    .project-card{
        width:100%;
        height:300px;
        margin: 0 0 4vh;
    }
    .section-title{
        transform-origin: top right;
        transform: rotate(0);
        position: absolute;
        text-align: left;
        color: #bfbfbf;
        margin-left: 8%;
        margin-top: -100px;
        left: 0px;
    }
    #top, #about, #projects{
        padding-left: 8%;
        width:84%;
        padding-bottom: 8vh;
        padding-top:8vh;
        
    }
    body{
        padding-top:8vh;
        padding-bottom: 8vh;
    }
    .project-card .text{
        top:20%;
        line-height: 1.5;
        width:90%;
    }
    .project-card img{
        top: 35%;
        left: 10%;
        width: auto;
    }
    .project-right-info{
        width:100%;
    }
    .project-title{
        width:100%;
    }
}